@import "../../../../style/global";

.divTextoAreaHome{
    display: block;
    margin-top: 8%;
    margin-left: 14%;
    width: 70%;
}


.texto{
    text-align: center;
    color: $cor-1-texto;
    line-height: 100%;
}

.primeiroTextoHome{
    flex-wrap: wrap;
    font-size: 500%;
}

.segundoTextoHome{
    color: $cor-2-texto;
    font-size: 150%;
}

.button{
    background-color: transparent;
    padding: 1.5em 2.5em;
    margin-left: 35%;
    border-color: $cor-2-texto;
    a{
        text-decoration: none;
        color: $cor-1-texto;
        font-size: 2em;
    }
    &:hover{
        transition-duration: 1s;
        cursor: pointer;
        background-color:$cor-1-texto ;
        a{
            transition-duration: 1s;
            color: black;
        }
    }
}

.controleHome {
    background-color: transparent;
    color: $cor-1-texto;
    border: none;
    cursor: pointer;
    margin-top: 5%;
    margin-left: 40%;
    :first-child{
        font-size: 100px;
    }
}

.rodapeHome{
    position: absolute;
    margin-top: 4%;
    margin-left: 4%;
    font-size: 30px;
}

@media (max-width: 768px) {
    .divTextoAreaHome{
        margin-top: 100px;
    }
    .primeiroTextoHome{
        font-size: 35px;
    }
    .segundoTextoHome{
        font-size: 20px;
    }
    .button{
        margin-left: 20%;
        a{
            font-size: 20px;
        }
    }
    .controleHome{
    margin-left: 35%;
    padding: 1em;
    :first-child{
        font-size: 70px;
    }
   }
   .rodapeHome{
    margin-top: 100px;
    width: 35%;
    font-size: 23px;
   }
}