@import "../../../../style/global";



.quadroSobreMIm{
    display: flex;
    margin-top: -40%;
    position: absolute;
    div{
        flex: 1;
        img{
            width: 80%;
        }
        div {
            margin-right: 5%;
            margin-left: 8%;
            flex-wrap: wrap;
            color: $cor-1-texto;
            p{
                font-size: 150%;
                a{
                    color: $cor-1-texto;
                    text-decoration: none;
                }
            }
        }
    }    
}
.rodapeEU{
    width: 25%;
    font-size: 30px;
    margin-top: 10%;
    margin-left: 4%;
}

@media (max-width:1079px){
    .quadroSobreMIm{
        margin-top: -1%;
        margin-left: 2%;
        width: 100%;
        div{
            img{
                display: none;
                position: absolute;
                width: 25%;
            }
            div{
                width: 100%;
                margin-top: 2%;
                margin-left: 50%;
                h2{
                    font-size: 20px;
                }
                p{
                    font-size: 12px;
                }
                div{
                    h2{
                        margin-left: -3em;
                    }
                }
            }
        }
    }
    .rodapeEU{
        font-size: 20px;
        width: 35% !important;
    }
}

@media (max-width: 768px) {
    .quadroSobreMIm {
        position:unset;
    }
    .rodapeEU{
        margin-left: 2% !important;
        width: 80% !important;
        display: flex;
        margin-bottom: 25%;
    }
}
