@import "../../style/global" ; 


//animation




//fim do animation

.menu {
    width: 45% ;
  
    nav { 
        display: flex ;
        justify-content: space-between;        
        a {
            line-height: 13px;
            margin: 2em 0em 0em 2em;
            font-size: 1.25em;
            color: $cor-2-texto;
            text-decoration: none;
            &:hover {
                color:$cor-1-texto;
            }
        }
    }
    @media (max-width: 768px) {
        .Fechado{
            display: none !important;
        }
        nav {
            justify-content: flex-start;
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 200px;
            height: 50%;
            background-color: #171616;
            a{
                margin-top: 25%;
            }
        }
    }
    @media (max-height:620px ){
        nav{
            line-height: 40% !important;
            font-size: 80%;
            a{
                margin-top: 20%;
            }
        }
}
}

