@import "../../style/global" ; 


//animation




//fim do animation

.menu {
    width: 45% ;
    #button-menu{
        display: none;
    }
    nav { 
        display: flex ;
        justify-content: space-between;        
        a {
            margin: 3em 0em 0em 2em;
            font-size: 1.25em;
            color: $cor-2-texto;
            text-decoration: none;
            &:hover {
                color:$cor-1-texto;
            }
        }
    }
    @media (max-width: 768px) {
        .Fechado{
            display: none !important;
        }
        .Barras{
            flex-wrap: wrap;
            :first-child{
                margin-bottom: 5px
            }
            div{
                justify-content: space-between;
                position: relative !important;
            }
        }
       .X{
            :first-child{
                transform: rotate(45deg);
            }
            :last-child{
                transform: rotate(-45deg);
            }
       }
        #button-menu{
            display: flex;
            border: none;
            color:$cor-1-texto;;
            font-size: 25px;
            margin: 1em;
            width: 50px;
            height:2px;
            background-color: transparent;
            
            div{
                position: absolute;
                background-color: $cor-1-texto;
                height: 5px;
                width: 25px;
            }
        }
        nav {
            justify-content: flex-start;
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 200px;
            height: 50%;
            background-color: #171616;
            a{
                margin-top: 25%;
            }
        }
    }
}

